ROOMXCHANGE_STAGE=dev
ROOMXCHANGE_REGION=us-east-1
ROOMXCHANGE_DOMAIN=
ROOMXCHANGE_WEB_URL=
ROOMXCHANGE_API_URL=https://api.roomxchange.com
ROOMXCHANGE_MEDIA_URL=https://media.roomxchange.com
ROOMXCHANGE_PAYSTACK_PUBLIC_KEY=pk_test_xxx
ROOMXCHANGE_PAYSTACK_SECRET_KEY=sk_test_xxx
ROOMXCHANGE_PAYSTACK_PLAN_CODE=PLN_xxx
ROOMXCHANGE_MAPBOX_PUBLIC_TOKEN=pk.xxx
ROOMXCHANGE_MAPBOX_SECRET_TOKEN=sk.xxx
ROOMXCHANGE_SENTRY_DSN=
